p { color: red;}

/* variables */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */

/* fonts */

/* mobile styles */

/* tablet styles */

/* desktop styles */