/* variables */
:root {
    --primary-color: #0891b2; 
}

/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */
h1, h2 {
    font-family: 'PlayfairDisplay-Regular', sans-serif;
}

p {
    font-family: 'Roboto-Regular', sans-serif;
}

/* fonts */
@font-face {
    font-family: 'Roboto-Regular';
    src: url(assets/fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(assets/fonts/PlayfairDisplay-Regular.ttf) format('ttf');
}



/* mobile styles */

/* tablet styles */
@media screen and (min-width: 768px) {

}

/* desktop styles */
@media screen and (min-width: 1024px) {

}