/* variables */
:root {
    --primary-color: #0891b2; 
}

/* reset */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

/* base styles */
h1, h2 {
    font-family: 'PlayfairDisplay Regular';
    font-size: 3rem;
}

p {
    font-family: 'Roboto Regular', sans-serif;
    font-size: 1rem;
    color: rgb(73, 73, 73);
}

/* fonts */
@font-face {
    font-family: 'Roboto Regular';
    src: url(assets/fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(assets/fonts/Roboto-Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'PlayfairDisplay Regular';
    src: url(assets/fonts/PlayfairDisplay-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'PlayfairDisplay Bold';
    src: url(assets/fonts/PlayfairDisplay-Bold.ttf);
}

/* mobile styles */
.project > img {
    width: 100%; /* temporário */
}


.about-picture > img{
    padding: 3rem;
    width: 100%;
    filter: drop-shadow(rgba(0, 0, 0, 0.61) 0.5rem 0.5rem 10px);
}

.about-content {
    padding: 1rem;
}

.about-picture::after {
    position: absolute;
    content: '';
    inset: 0;
    z-index: -1;
    background-color: var(--primary-color);
    transform: skewY(330deg) translateY(-50%);
    transform-origin: 0;
    box-shadow: 1px 1px 5px 0px #262228

}

.about-icons > img{
    width: 3rem;
}

.about-icons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 10rem;
}



/* tablet styles */
@media screen and (min-width: 768px) {

}

/* desktop styles */
@media screen and (min-width: 1024px) {

}